*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/markdown*
/.idea/misc.xml
/.idea/caches/
/.idea/codeStyles/
/.idea/kotlinc.xml
.idea/deploymentTargetDropDown.xml
.idea/vcs.xml
