:root {
}

body {
  margin: 0px;
  background-color: #AAA;
}


/* ----- COMMON ----- */

/* override stuff from boostrap */
.bg-primary {
  /*background-color: #2f2823 !important;*/
}


/* ----- APP HEADER ----- */

.header {
  margin-bottom: 1em;
}

.navbar-detail {
  font-size: 0.65em;
  margin-right: 1em;
  text-align: end;
}

/* ----- SYSTEM TABLE ----- */

.wazz-table {
  margin: 0.5em;
  width: 98%;
  border-radius: 15px;
  border-collapse: collapse;
  overflow: hidden;
  font-size: smaller;
}

td.wazz-status-text {
  text-transform: capitalize;
}

td.wazz-indent-true {
  padding-left: 2em;
}

.wazz-btn {
  font-size: xx-small;
}

/* ----- ROUTES TABLE ----- */

/* ~~ */

