:root {
}

body {
  margin: 0px;
  background-color: #AAA;
}


/* ----- COMMON ----- */

/* override stuff from boostrap */
.bg-primary {
  /*background-color: #2f2823 !important;*/
}


/* ----- MISC ----- */

.wazz-status-text {
  padding-left: 1em;
  color: var(--bs-danger);
}


.wazz-last-update-text {
  padding-left: 1em;
  font-size: 0.75em;
}

/* ----- APP HEADER ----- */

.header {
  margin-bottom: 1em;
}

.navbar-brand {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-right:  solid 1px var(--bs-navbar-color);;
}

.navbar-detail {
  margin-right: 1em;
  text-align: end;
}

.nav-font-size {
  font-size: smaller;
}

.gitinfo {
  font-size: 0.75em;
}

.gitinfo a {
  text-decoration: none;
  color: var(--bs-navbar-color);
}

.gitinfo a:hover {
  text-decoration: underline;
}

/* ----- SYSTEM TABLE ----- */

.wazz-table {
  margin: 0.5em;
  width: 98%;
  border-radius: 15px;
  border-collapse: collapse;
  overflow: hidden;
  font-size: smaller;
}

.wazz-table th {
  background-color: var(--bs-primary-bg-subtle);
}

td.wazz-status-text {
  text-transform: capitalize;
}

td.wazz-indent-true {
  padding-left: 2em;
}

.wazz-btn {
  font-size: xx-small;
}

.wazz-date, .wazz-rel-date {
  white-space: nowrap;
}

tr.wazz-status-warning-false {
  --bs-table-bg-type:    var(--bs-success-bg-subtle);
  --bs-table-striped-bg: var(--bs-success-bg-subtle);
}

tr.wazz-status-warning-true {
  --bs-table-bg-type:    var(--bs-danger-bg-subtle);
  --bs-table-striped-bg: var(--bs-danger-bg-subtle);
}

/* ----- ROUTES TABLE ----- */

.wazz-route-name {
  white-space: nowrap;
}

tr.wazz-route-old-true td {
  color: darkgray;
}

tr.wazz-route-recovery-true td {
  --bs-table-bg-type:    var(--bs-danger-bg-subtle);
  --bs-table-striped-bg: var(--bs-danger-bg-subtle);
}

/* ~~ */

